#site {
  max-width: 60%;
  margin: auto;
}

.heading1 {
  text-align:center;
}

.title {
  color:rgb(112, 222, 255);
  cursor:pointer;
  display:inline;
  font-family:proxima-nova;
  font-size:72px;
  font-style:normal;
  font-weight:700;
  height:auto;
  letter-spacing:5px;
  line-height:72px;
  text-size-adjust:100%;
  text-transform:uppercase;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
}

.title:hover {
  color:#595959;
}

.tagline {
  color:rgb(238, 255, 0);
  display:block;
  font-family:proxima-nova;
  font-size:14px;
  font-style:normal;
  font-weight:600;
  height:25px;
  letter-spacing:5px;
  line-height:25.2px;

  text-align:center;
  text-size-adjust:100%;
  text-transform:uppercase;

  margin-bottom: 0px;
}

.navbar {
  margin-top: 0px;
  margin-left: 0px;
  text-align: center;
  padding: 0px;
}

.navbar li {
  text-align: center;
  display:inline-block;
}

.navbar li a {
  color:rgb(238, 255, 0);
  display:block;
  font-family:proxima-nova;
  font-size:20px;
  font-style:normal;
  font-weight:600;
  height:25px;
  line-height:25.2px;

  text-decoration-line: none;

  display: block;
  text-align: center;
  padding: 8px;
}

.navbar li a:hover {
  color:#595959;
}


.mainfeed {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.postHeading {
  padding-top: 0px;
  margin-top: 0px;

  color:rgb(112, 222, 255);
  cursor:pointer;
  display:inline;
  font-family:proxima-nova;
  font-size:28px;
  font-style:normal;
  font-weight:700;
  height:auto;
  text-size-adjust:100%;
  text-transform:capitalize;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
}

.post {
  color: #534342;
  margin: 0px;
  padding: 15px;
  background-color: #000000;
}

.postText {
  text-align: left;

  list-style-position: inside;

  color:rgb(112, 222, 255);
  font-family:proxima-nova;
  font-size:24px;
  font-style:normal;
  font-weight:700;
  height:auto;
  text-size-adjust:100%;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
}


.contact {
  color:rgb(112, 222, 255);
  cursor:pointer;
  display:inline;
  font-family:proxima-nova;
  font-size:20px;
  font-style:normal;
  font-weight:700;
  height:auto;
  text-size-adjust:100%;
  /* text-transform:capitalize; */
  /* text-decoration: none; */
  /* text-decoration-line: none; */
  text-decoration-style: solid;
}


.bigFooter {
	height:568px;
}

body {
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-image: url("bg.jpg");
  background-position: top left;
  background-position-x: left;
  background-position-y: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}



/*https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php  */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
